body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h2 {
    font-size: 20px;
}

/* Header */

.header {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
}

.logo {
    height: 40px;
}

.name {
    font-size: 14px;
    height: 40px;
    text-transform: uppercase;
}

.name-line {
    display: block;
    text-align: right;
}

.nav-list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.nav-link {
    color: #d1a054;
    margin-left: 15px;
    padding: 0;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #84754e;
    cursor: pointer;
}

/* Welcome section */

.section-welcome {
    align-items: center;
    background: url(../img/pattern.png);
    background-size: cover;
    display: flex;
    height: 500px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.hello-text {
    background-color: #d1a054;
    color: #fff;
    padding: 20px 50px;
}

/* Portfolio section */

.section-portfolio {
    padding: 50px 0 20px 0;
    text-align: center;
}

.row {
    padding-top: 20px;
}

.thumb {
    margin-bottom: 10px;
    width: 100%;
}

.project-tile {
    padding-bottom: 30px;
}

.title-link {
    color: #d1a054;
    text-align: center;
}

.title-link:hover {
    color: #84754e;
    text-decoration: none;
}

/* Work section */

.section-work {
    padding: 50px 0;
    text-align: center;
}

.action-button {
    background-color: #d1a054;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 20px 0;
    padding: 20px 40px;
}

.action-button:hover {
    background-color: #84754e;
}

/* Footer */

footer {
    background-color: #d1a054;
    padding: 20px;
}

.copyright {
    color: #fff;
    font-size: 14px;
}
